@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/68f9723116da16c0bab791ba.68f9723216da16c0bab791bd.mD6Yvev.hcp.png");

@font-face {
  font-family: "NeueHaas Grotesk Display Pro-25Thin";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NeueHaasDisplayThin.ttf") format("truetype");
}
@font-face {
  font-family: "NeueHaas Grotesk Display Pro-55Roman";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NeueHaasDisplay-Roman.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
