/* screen - hero */

.hero {
  background-color: #303030;
  min-height: 1080px;
  min-width: 2065px;
  position: relative;
  width: 100%;
}

.hero .group-43 {
  align-items: flex-end;
  background-color: #000000;
  display: flex;
  height: 19.72%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hero .title {
  color: #ffffff;
  font-family: var(--font-family-playfair144pt-extrabold);
  font-size: var(--font-size-m);
  font-weight: 800;
  height: 106px;
  letter-spacing: -2.17px;
  line-height: 87px;
  margin-bottom: -7.5px;
  margin-left: 129px;
  text-align: center;
  white-space: nowrap;
  width: 568px;
}

.hero .menu {
  background-image: url(../img/menu@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 96px;
  position: absolute;
  right: 94px;
  top: 59px;
  width: 116px;
}
